body{
    background-color: rgb(248, 161, 0);
}
header{
 background-color:rgb(0, 0, 0);
}
header nav{
  background-color: black;
}
header span img{
    margin-right: 5px;
    width: 10%;
    border-radius: 50%;
    color:rgb(0, 0, 0);
}
div ul li {
  color: black;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
main div img{
  height: 500px;
  margin-top: 5%;
}
